################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YAMB/bin
/YAMB/obj
/.vs
